{
	"presets": ["next/babel"],
	"plugins": [
		[
			"import",
			{
				"libraryName": "@material-ui/core",
				"libraryDirectory": "",
				"camel2DashComponentName": false
			},
			"mui"
		],
		[
			"import",
			{
				"libraryName": "@material-ui/icons",
				"libraryDirectory": "",
				"camel2DashComponentName": false
			},
			"mui-icons"
		],
		[
			"import",
			{
				"libraryName": "lodash",
				"libraryDirectory": "",
				"camel2DashComponentName": false
			},
			"_"
		]
	]
}
